
/* @font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto/Roboto-Medium.eot');
    src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium') format('svg'),
        url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */


/* my custom_carousel by S */
/* 
.H_carousel .owl-nav button:focus {
    outline: none !important;
}

.H_carousel .owl-next.disabled, .H_carousel .owl-prev.disabled {
    
       display: none !important;
  }   

  .H_carousel .owl-carousel:last-child {
      margin-right: 0 !important;
    }

  .H_carousel .owl-nav .owl-next {
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  left: 9.75em;
  font-size: 80px !important;       
  color: #3d4758 !important;

}

.H_carousel .owl-nav .owl-prev{
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  font-size: 80px !important;
  color: #3d4758!important;
}

.overview-middle .overview-middle-inner {
  background: #fff !important;
} */
