/* compliance page css */
.compliance-left {
    float: left;
    width: 300px;
    background: #e5e5e5;
    padding-bottom: 0;
    max-height: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

.compliance-left .compliance-left-heading {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #3d4758;
    font-family: 'montserratbold';
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
    padding: 20px 5px 15px 34px;
}

.compliance-left .compliance-left-inner{
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
}
.compliance-left .compliance-user-section {
    float: left;
    width: 100%;
    background: rgb(59,69,86);
    background: -moz-radial-gradient(center, ellipse cover, rgba(59,69,86,1) 0%, rgba(53,62,78,1) 44%, rgba(42,52,68,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(59,69,86,1) 0%,rgba(53,62,78,1) 44%,rgba(42,52,68,1) 100%);
    background: radial-gradient(ellipse at center, rgba(59,69,86,1) 0%,rgba(53,62,78,1) 44%,rgba(42,52,68,1) 100%);
    text-align: center;
    position: relative;
    padding: 40px 0;
}
.compliance-left .compliance-user-section .user-image-section {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.compliance-left .compliance-user-section .user-image-section .user-image{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    padding: 4px;
    background: #ffffff;
}
.compliance-left .compliance-user-section .user-image-section .user-image .input-file{
    position: absolute;
    width: 90px;
    height: 90px;
    opacity: 0;
    left: 0px;
    top: 0px;
    z-index: 1;
    cursor: pointer;
}
.compliance-left .compliance-user-section .user-image-section .user-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.compliance-left .compliance-user-section .user-image-section .user-image .edit-user-img{
    position: absolute;
    right: 5px;
    bottom: 3px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    background: #f36464;
    color: #ffffff;
    text-align: center;
}
.compliance-left .compliance-user-section .user-name{
    display: block;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 2px;
}
.compliance-left .compliance-user-section .user-name-title{
    display: block;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}
.compliance-left .compliance-user-section .rank{
    display: inline-block;
    padding: 3px 10px;
    background: #00a651;
    border-radius: 25px 0 0 25px;
    right: 0px;
    bottom: 62px;
    color: #ffffff;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
}
.compliance-left .compliance-points{
    float: left;
    width: 100%;
    padding: 15px 0px;
    margin: 0px;
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
}
.compliance-left .compliance-points li{
    float: left;
    width: 33.3%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
    border-right: 1px solid #f2f2f2;
}
.compliance-left .compliance-points li:last-child{
    border-right: 0px solid #f2f2f2;
}
.compliance-left .compliance-points li .pp-heading{
    float: left;
    width: 100%;
    text-align: center;
}
.compliance-left .compliance-points li .pp-heading .pp-heading-inner{
    display: inline-block;
}
.compliance-left .compliance-points li .pp-heading .pp-heading-inner img{
    float: left;
    margin-right: 5px;
    width: 16px;
    margin-top: -2px;
}
.compliance-left .compliance-points li .pp-heading .pp-heading-inner span{
    float: left;
    font-size: 10px;
    color: #bababa;
    font-weight: 500;
}
.compliance-left .compliance-points li .p-points{
    float: left;
    width: 100%;
    text-align: center;
    color: #8e99ab;
    font-size: 13px;
    font-weight: normal;
}
.compliance-left .compliance-links-list{
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 20px;
}
.compliance-left .compliance-links-list li{
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
}
.compliance-left .compliance-links-list li a{
    float: left;
    width: 100%;
    font-size: 14px;
    color: #3d4758;
    font-weight: 600;
    padding: 12px 5px 12px 30px;
    border-left: 4px solid transparent;
}
.compliance-left .compliance-links-list li a.active{
    color: #3d4758;
    background: #f9f9f9;
    border-left: 4px solid #f36464;
}

.compliance-right{
    display: block;
    position: relative;
    padding: 0px 0px 0px 0;
    overflow: hidden;
    max-height: 100%;
    min-height: 100%;
    height: 100%;
    background: #f9f9f9;
}
.compliance-right .compliance-r-heading-section {
    float: left;
    width: 100%;
    padding: 20px 20px 10px 30px;
    position: relative;
    z-index: 9;
}
.compliance-right .compliance-r-heading-section.shadow {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.compliance-right .compliance-r-heading-section .compliance-r-title {
    float: left;
    font-size: 14px;
    color: #3d4758;
    font-weight: 800;
    padding-bottom: 10px;
    position: relative;
    margin-right: 20px;
    line-height: 16px;
    text-transform: uppercase;
}

.compliance-right .compliance-r-heading-section .compliance-r-title .bottom-line {
    float: left;
    width: 54px;
    height: 4px;
    background: #f36464;
    position: absolute;
    bottom: -4px;
    left: 0px;
}
.compliance-right .compliance-right-inner {
    float: left;
    width: 100%;
    height: 89%;
    min-height:89%;
    max-height: 89%;
    padding: 5px 15px 60px 30px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.compliance-right .compliance-right-inner .pr-sub-heading{
    float: left;
    width: 100%;
    padding: 8px 0;
}
.compliance-right .compliance-right-inner .pr-sub-heading span{
    display: inline-block;
    font-size: 12px;
    color: #787878;
    font-weight: 500;
}
.compliance-right .compliance-right-inner .pr-sub-heading .prs-edit-icon{
    float: right;
    font-size: 16px;
    color: #3d4758;
    font-weight: normal;
    margin-left: 5px;
    width: 24px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin-top: -1px;
}
.compliance-right .compliance-right-inner .compliance-input-section{
    float: left;
    width: 100%;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background: #ffffff;
    padding: 15px 20px 0px;
    margin-bottom: 20px;
}
.compliance-right .compliance-right-inner .form-group{
    float: left;
    width: 100%;
}
.compliance-right .compliance-right-inner .form-group label{
    float: left;
    width: 100%;
    font-size: 12px;
    color: #3d4758;
    font-weight: 500;
    margin-top: 6px;
}
.compliance-right .compliance-right-inner .form-group .input-value{
    float: left;
    width: 100%;
    font-size: 11px;
    color: #3d4758;
    font-weight: 600;
}
.compliance-right .compliance-right-inner .form-group .input-value-link{
    float: left;
    width: 100%;
    font-size: 11px;
    color: #2d58a0;
    font-weight: 600;
}
.compliance-right .compliance-right-inner .form-group .form-control{
    font-size: 12px;
    color: #3d4758;
    font-weight: 600;
    padding: 8px 10px;
}
.compliance-right .compliance-right-inner .form-control::-webkit-input-placeholder{
    font-size: 12px;
    color: #e6e6e6;
    font-weight: 400;
}
.compliance-right .compliance-right-inner .input-group .btn{
    font-size: 12px;
    color: #3d4758;
    font-weight: 600;
    padding: 8px 8px 7px;
}
.compliance-right .compliance-right-inner .input-button{
    font-size: 12px;
    color: #2d58a0  ;
    font-weight: 600;
    padding: 8px 10px;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 1.52857143;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    float: left;
}

.compliance-right .compliance-right-inner .compliance-green-btn {
    float: left;
    margin-right: 10px;
    background: #c3df9c;
    display: inline-block;
    padding: 8px 25px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    border-radius: 25px;
    -webkit-transition: ease-in-out all 0.5s;
    -o-transition: ease-in-out all 0.5s;
    transition: ease-in-out all 0.5s;
}

.compliance-right .compliance-right-inner .compliance-green-btn:hover {
    background: #b2ce8c;
}

.compliance-right .compliance-right-inner .compliance-cancel-btn {
    float: left;
    margin-right: 10px;
    background: #ffffff;
    display: inline-block;
    padding: 7px 25px;
    color: #3d4758;
    font-size: 13px;
    font-weight: normal;
    border-radius: 25px;
    border: 1px solid #3d4758;
    -webkit-transition: ease-in-out all 0.5s;
    -o-transition: ease-in-out all 0.5s;
    transition: ease-in-out all 0.5s;
}

.compliance-right .compliance-right-inner .compliance-cancel-btn:hover {
    background: #3d4758;
    color: #ffffff;
}
.compliance-right .compliance-right-inner .input-password {
    float: left;
    width: 100%;
    position: relative;
}
.compliance-right .compliance-right-inner .input-password .icon-eye{
    position: absolute;
    right: 10px;
    top: 11px;
    font-size: 14px;
    color: #3d4758;
}


/* compliance Skills Page css */
.compliance-right .compliance-right-inner .sp-table-body .sp-td .td-level-graph .level-progress{
    padding-top: 13px;
    padding-bottom: 6px;
}
.compliance-right .compliance-right-inner .right-m-td  .table-menu{
    margin-top: 5px;
    background-size: 30px;
}
.compliance-right .compliance-right-inner .sp-table-heading .sp-th .spt-th{
    font-weight: 600;
}
.compliance-right .compliance-right-inner .sp-table-body .sp-td .sptd-text{
    font-weight: 600;
}
.compliance-right .compliance-right-inner .sp-table-heading .sp-th .c-level{
    float: right;
    margin-right: 5px;
}
.compliance-right .compliance-right-inner .sp-table-body .sp-td .td-level-graph{
    padding-right: 0px;
}

.compliance-summary-list{
    float: left;
    width: 100%;
}
.compliance-summary-list .ps-ul{
    display: block;
    padding: 0px;
    margin: 0px -10px;
}
.compliance-summary-list .ps-ul li{
    float: left;
    width: 25%;
    padding: 5px 10px 15px;
    margin: 0px;
    list-style: none;
}
.compliance-summary-list .ps-ul li .summary-box{
    float: left;
    width: 100%;
    padding: 18px 0px;
    margin: 0px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    text-align: center;
}
.compliance-summary-list .ps-ul li .summary-box .summary-heading{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgba(61, 71, 88, 0.5);
    font-weight: 600;
    margin-bottom: 10px;
}
.compliance-summary-list .ps-ul li .summary-box .summary-bottom{
    display: inline-block;
}
.compliance-summary-list .ps-ul li .summary-box .summary-bottom img{
    float: left;
    margin-right: 10px;
    width: 24px;
    margin-top: 2px;
}
.compliance-summary-list .ps-ul li .summary-box .summary-bottom span{
    float: right;
    font-size: 24px;
    color: #3d4758;
    font-weight: 600;
    line-height: 28px;
}

.compliance-points-list{
    float: left;
    width: 100%;
}
.compliance-points-list .p-points-ul{
    display: block;
    padding: 0px;
    margin: 0px -8px;
}
.compliance-points-list .p-points-ul li{
    float: left;
    width: 25%;
    padding: 5px 8px 15px;
    margin: 0px;
    list-style: none;
}
.compliance-points-list .p-points-ul li .points-box{
    float: left;
    width: 100%;
    padding: 18px 0px;
    margin: 0px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    text-align: center;
}
.compliance-points-list .p-points-ul li .points-box .points-heading{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgba(61, 71, 88, 0.5);
    font-weight: 600;
    margin-bottom: 10px;
}
.compliance-points-list .p-points-ul li .points-box .points-bottom{
    display: block;
    font-size: 24px;
    color: #3d4758;
    font-weight: 600;
    line-height: 28px;
}
.achievement-slider-section{
    float: left;
    width: 100%;
    position: relative;
}
.achievement-slider-section .achievement-slider-heading {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    color: #3d4758;
    font-weight: 600;
    padding: 5px 0 10px;
}
.achievement-slider-section .owl-theme .owl-nav {
    display: inline-block;
    position: absolute;
    top: -35px;
    right: 0px;
    margin: 0px;
}
.achievement-slider-section .owl-theme .owl-nav.disabled {
    display: none;
}

.achievement-slider-section .owl-theme .owl-nav .owl-prev {
    background: url(../../img/prev-arrow.png) no-repeat 50% 50%;
    background-size: 20px;
    background-color: transparent;
    color: transparent;
    margin: 0px;
}

.achievement-slider-section .owl-theme .owl-nav .owl-next {
    background: url(../../img/next-arrow.png) no-repeat 50% 50%;
    background-size: 20px;
    background-color: transparent;
    color: transparent;
    margin: 0px;
    padding: 5px 0px;
}

.achievement-slider-section .owl-theme .owl-nav [class*='owl-'].disabled {
    opacity: 0.5;
}

.achievement-slider-section .owl-theme .owl-nav [class*='owl-'] {
    opacity: 1;
}

.achievement-slider-section .owl-theme .owl-item {
    margin-bottom: 20px;
}

.achievement-slider-section .owl-theme .owl-item .item {
    padding-right: 20px;
}

.achievement-slider-section .owl-carousel .owl-stage {
    padding-left: 0 !important;
}
.achievement-slider-section .owl-carousel-achievements .achievements-item {
    float: left;
    width: 100%;
    background: #ffffff;
    margin-right: 10px;
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.achievement-slider-section .owl-carousel-achievements .achievements-item {
    float: left;
    width: 100%;
    background: #ffffff;
    margin-right: 0px;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.achievement-slider-section .owl-carousel-achievements .achievements-item .achievements-item-top{
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.achievement-slider-section .owl-carousel-achievements .achievements-item .achievements-item-top .achievements-item-top-in{
    display: inline-block;
}
.achievement-slider-section .owl-carousel-achievements .achievements-item .achievements-item-top .achievements-item-top-in img{
    float: left;
    margin: 0 5px;
    width: 32px;
}
.achievement-slider-section .owl-carousel-achievements .achievements-item .achievements-item-top .achievements-item-top-in span{
    float: left;
    margin: 15px 5px 0;
    color: #3d4758;
    font-size: 14px;
    font-weight: 600;
}
.achievement-slider-section .owl-carousel-achievements .achievements-item .achievements-item-bottom{
    float: left;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #e7e7e7;
}
.achievement-slider-section .owl-carousel-achievements .achievements-item .achievements-item-bottom .achievements-item-bottom-heading{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #bababa;
    font-weight: 500;
    margin-bottom: 3px;
}
.achievement-slider-section .owl-carousel-achievements .achievements-item .achievements-item-bottom .achievements-item-bottom-date{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #3d4758;
    font-weight: 500;
}
.learning-certificate-section{
    display: block;
    float: left;
    width: 100%;
}
.learning-certificate-section .learning-certificate-list{
    display: block;
    margin: 0 -10px;
    padding: 0;
}
.learning-certificate-section .learning-certificate-list li{
    float: left;
    width: 50%;
    padding: 10px;
    margin: 0px;
    list-style: none;
}
.learning-certificate-section .learning-certificate-list li .lc-list-box{
    float: left;
    width: 100%;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.lc-list-box .lc-list-box-top{
    float: left;
    width: 100%;
}
.lc-list-box .lc-list-box-top .lcl-table{
    display: table;
    vertical-align: middle;
    padding: 20px 0
}
.lc-list-box .lc-list-box-top .lcl-table .left-image-cell{
    display: table-cell;
    vertical-align: middle;
    width: 106px;
    padding: 0 15px;
}
.lc-list-box .lc-list-box-top .lcl-table .left-image-cell img{
    display: inline-block;
    max-width: 100%;
    width:50px;
    height:50px;
}
.lc-list-box .lc-list-box-top .lcl-table .right-detail-cell{
    display: table-cell;
    vertical-align: middle;
}
.lc-list-box .lc-list-box-top .lcl-table .right-detail-cell .certificate-title{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #f36464;
    font-weight: bold;
}
.lc-list-box .lc-list-box-top .lcl-table .right-detail-cell .certificate-link{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #3d4758;
    font-weight: 500;
    font-style: italic;
}
.lc-list-box .lc-list-box-top .lcl-table .right-detail-cell .certificate-sub-title{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 11px;
    color: #8d98ab;
    font-weight: 500;
}
.lc-list-box .lc-list-box-bottom{
    float: left;
    width: 100%;
    border-top: 1px solid #e4e4e4;
}
.lc-list-box .lc-list-box-bottom .lcl-bottom-list{
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.lc-list-box .lc-list-box-bottom .lcl-bottom-list li{
    float: left;
    width: 50%;
    padding: 12px 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
    border-right: 1px solid #e4e4e4;
}
.lc-list-box .lc-list-box-bottom .lcl-bottom-list li:last-child{
    border-right: 0px solid #e4e4e4;
}
.lc-list-box .lc-list-box-bottom .lcl-bottom-list li .lcl-bottom-title{
    font-size: 12px;
    color: #bababa;
    display: block;
    font-weight: 500;
    margin-bottom: 1px;
}
.lc-list-box .lc-list-box-bottom .lcl-bottom-list li .lcl-bottom-date{
    font-size: 12px;
    color: #3d4758;
    display: block;
    font-weight: 600;
}

.compliance-submit-btn {    
    margin-left: 13px;
    background: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    color: #3d4758;
    font-size: 13px;
    font-weight: normal;
    border-radius: 10px;
    border: 1px solid #3d4758;
    transition: ease-in-out all 0.5;
}

.compliance-right .compliance-table-section {
    float: left;
    width: 100%;
}

.compliance-right .compliance-table-section .compliance-thead {
    display: table;
    width: 100%;
    vertical-align: middle;
}

.compliance-right .compliance-table-section .compliance-thead .compliance-th {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 8px;
    font-size: 11px;
    /* text-transform: uppercase; */
    color: #3d4758;
    /* font-family: 'montserratbold'; */
    font-weight: bold;
    -ms-word-break: break-all;
    /* word-break: break-all; */
}

.compliance-right .compliance-table-section .compliance-tbody {
    float: left;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 10px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row {
    display: table;
    width: 100%;
    vertical-align: middle;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 8px;
    font-size: 11px;
    color: #8d98ab;
    font-family: 'montserratmedium';
    font-weight: bold;
    /* -ms-word-break: break-all; */
    /* word-break: break-all; */
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td .td-link {
    display: inline-block;
    font-size: 11px;
    color: #3d4758;
    margin-right: 10px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td .group-icon {
    display: inline-block;
    margin: 0 5px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td .heart-icon {
    display: inline-block;
    margin: 0 5px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td .td-link .left-icon {
    display: inline-block;
    width: 18px;
    float: left;
    margin-right: 10px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td .td-link .text {
    display: inline-block;
    font-size: 12px;
    color: #3d4758;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td .right-menu {
    display: inline-block;
    float: left;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td .right-menu .table-menu {
    display: inline-block;
    padding: 0;
    background: url(../../img/next-arrow.png) no-repeat 50% 50%;
    width: 40px;
    height: 20px;
    background-size: 24px;
    margin-top: 0px;
    vertical-align: middle;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td .right-menu.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0)
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-first-row .compliance-td .right-menu .dropdown-menu>li>a {
    font-weight: 300;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row {
    display: table;
    width: 100%;
    vertical-align: middle;
    border-top: 1px solid #e6e6e6;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td {
    display: table-cell;
    vertical-align: middle;
    padding: 6px 8px;
    font-size: 11px;
    color: #8d98ab;
    font-family: 'montserratmedium';
    font-weight: bold;
    -ms-word-break: break-all;
    word-break: break-all;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons {
    float: left;
    margin-right: 10px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .shares {
    float: left;
    margin-right: 20px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .shares i {
    display: inline-block;
    font-size: 14px;
    color: #9ba5b7;
    margin-right: 8px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .shares:hover i {
    color: #697384;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .shares .reviews {
    display: inline-block;
    font-size: 10px;
    color: #9ba5b7;
    font-family: 'montserratbold';
    margin-left: 0px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .shares:hover .reviews {
    color: #697384;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .link {
    float: left;
    margin-right: 20px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .link i {
    display: inline-block;
    font-size: 14px;
    color: #9ba5b7;
    margin-right: 8px;
    transform: rotateY(180deg);
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .link:hover i {
    color: #697384;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .link .reviews {
    display: inline-block;
    font-size: 10px;
    color: #9ba5b7;
    font-family: 'montserratbold';
    margin-left: 0px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .link:hover .reviews {
    color: #697384;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .anmi-heart {
    position: relative;
    left: -0;
    bottom: 0px;
    display: inline-block;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .anmi-heart:before {
    display: none;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .heart-animation {
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: relative;
    background-image: url('../../img/heart_animation.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 2900%;
    z-index: 2;
    display: inline-block;
    position: absolute;
    left: -20px;
    top: -16px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .anmi-heart .reviews {
    display: inline-block;
    font-size: 10px;
    color: #9ba5b7;
    font-family: 'montserratbold';
    margin-left: 20px;
    cursor: pointer;
    margin-top: 2px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .left-icons .heart-animation.is_animating {
    background-position: right;
    -webkit-animation: heart-burst .8s steps(28) 1;
    animation: heart-burst .8s steps(28) 1;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .info-icon {
    display: inline-block;
    position: relative;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .info-icon .info-link {
    display: inline-block;
    position: relative;
    font-size: 10px;
    color: #9ba5b7;
    font-family: 'montserratbold';
    padding-left: 20px;
    background: url(../../img/info-circle-icon.png) no-repeat 0 -1px;
    background-size: 16px;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .trash-icon {
    display: inline-block;
    position: relative;
}

.compliance-right .compliance-table-section .compliance-tbody .compliance-second-row .compliance-td .trash-icon .trash-link {
    display: inline-block;
    position: relative;
    font-size: 10px;
    color: #9ba5b7;
    font-family: 'montserratbold';
    padding-left: 20px;
    background: url(../../img/trash-icon-1.png) no-repeat 0 -2px;
    background-size: 16px;
}

.header{
    font-weight: bold !important;
}
.data{
    display: inline-block ;
    font-size: 12px !important;
    color: #787878 !important;
    font-weight: 500 !important;    
} 

.compliance-reapply-icon{
    padding: 12px;
    background: url(../../img/reapply.png) no-repeat 0 0px;
    background-size: 20px;
    cursor: pointer;
}

.compliance-apply-icon{
    padding: 8px;
    background: url(../../img/right-arrow-thick.png) no-repeat 0 0px;
    background-size: 20px;
    cursor: pointer;
}

.compliance-view-icon
{
    padding: 13px;
    background: url(../../img/open-readonly.png) no-repeat 0 0px;
    background-size: 20px;
    cursor: pointer;
}

.compliance-feedback-icon
{
    padding: 13px;
    background: url(../../img/feedback-icon.png) no-repeat 0 0px;
    background-size: 20px;
    cursor: pointer;
}

#showMoreDiv{
    text-align: center;
    cursor: pointer;
    color: #3d4758 !important;
    /* padding: 5px 10px 5px 5px!important; */
}

#showMoreDiv button{
    background: #eef0f3;
    opacity: 0.7;
    font-size: 12px;
    text-transform: uppercase;
    color: #3d4758;
    font-weight: 500 !important;
}

.arrow_down {
    border: solid #3d4758;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0 0 0.2em 0.8em;
  }